# R
.Rhistory
.RData
.Rproj.user
*.Rproj.user/

# Project (required for setup unit tests)
analysis/data/
_targets/

# OS
.DS_Store
Thumbs.db

# Optional: uncomment to ignore rendered HTML
# analysis/scripts/1_targets_report.html
